<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
        <title>Привет, Мир!</title>
    </head>
    <body>
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF.svg/1200px-%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF.svg.png"
            alt="На этом месте должна находиться картинка"></p>
        <h1>Привет, Мир!</h1>
        <h2>Это учебный сайт, с его помощью будут изучены технологии
            python/django, html/css.</h2>
        <h3>Как видите, здесь используются заголовки различных
            уровней.</h3>
        <h4>
        <p>Здесь есть маркированный список:</p>
            </h4>
        <h4>
		<ul>
            <li>Элемент 1;</li>
            <li>элемент 2;</li>
            <li>элемент 3;</li>
            <li>последний элемент.</li>
        </ul>
		</h4>
        <h4>
        <p>И нумерованный список:</p>
        </h4>
            <h4>
		<ol>
            <li>Элемент 1;</li>
            <li>элемент 2;</li>
            <li>элемент 3;</li>
            <li>последний элемент.</li>
        </ol>
		</h4>
        <p>И даже таблица:</p>
        <table style="border: 2px solid">
            <thead>
                <tr>
                    <th>Столбик 1</th>
                    <th>Столбик 2</th>
                    <th>Столбик 3</th>
                    <th>Столбик 4</th>
                </tr>
            </thead>
            <tr>
                <td>Строка 1 Столбец 1 Столбец 2 Столбец 3</td>
                <td>Строка 1 Столбец 4 Столбец 5 Столбец 6</td>
                <td>Строка 1 Столбец 7 Столбец 8 Столбец 9</td>
                <td>Строка 1 Столбец 10 Столбец 11 Столбец 12</td>
            </tr>
            <tr>
                <td>Строка 2 Столбец 1 Столбец 2 Столбец 3</td>
                <td>Строка 2 Столбец 4 Столбец 5 Столбец 6</td>
                <td>Строка 2 Столбец 7 Столбец 8 Столбец 9</td>
                <td>Строка 2 Столбец 10 Столбец 11 Столбец 12</td>
            </tr>
            <tr>
                <td>Строка 3 Столбец 1 Столбец 2 Столбец 3</td>
                <td>Строка 3 Столбец 4 Столбец 5 Столбец 6</td>
                <td>Строка 3 Столбец 7 Столбец 8 Столбец 9</td>
                <td>Строка 3 Столбец 10 Столбец 11 Столбец 12</td>
            </tr>
            <tr>
                <td>Строка 4 Столбец 1 Столбец 2 Столбец 3</td>
                <td>Строка 4 Столбец 4 Столбец 5 Столбец 6</td>
                <td>Строка 4 Столбец 7 Столбец 8 Столбец 9</td>
                <td>Строка 4 Столбец 10 Столбец 11 Столбец 12</td>
            </tr>
            <tr>
                <td>Строка 5 Столбец 1 Столбец 2 Столбец 3</td>
                <td>Строка 5 Столбец 4 Столбец 5 Столбец 6</td>
                <td>Строка 5 Столбец 7 Столбец 8 Столбец 9</td>
                <td>Строка 5 Столбец 10 Столбец 11 Столбец 12</td>
            </tr>
            <tr>
                <td>Строка 6 Столбец 1 Столбец 2 Столбец 3</td>
                <td>Строка 6 Столбец 4 Столбец 5 Столбец 6</td>
                <td>Строка 6 Столбец 7 Столбец 8 Столбец 9</td>
                <td>Строка 6 Столбец 10 Столбец 11 Столбец 12</td>
            </tr>
        </table>
    </body>
</html>
